<!DOCTYPE html>
<html lang="en">
<head>
  <title>Krenovator</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <!-- <link rel="icon" type="image/x-icon" href="css/e_nDl_icon.ico"> -->
  <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.9.0/css/lightbox.min.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
  <link rel="icon" href="images/favicon.ico" type="image/x-icon">
</head>
<body>

    <% include partial/nav %>

    <main>

        <div class="section">
            <div class="row">
                <div class="col m8 offset-m1">
                    <img class="responsive-img" src="images/website1upload-09.png" />
                </div>
            </div>
            <div class="row half-wrapper">
                <div class="col m4 offset-m1">
                    <img class="responsive-img" src="images/myedtech.png" />
                </div>
                <div class="col m6 offset-m1">
                        <img class="responsive-img" src="images/detail.png" />
                </div>
            </div>
        </div>

        <div class="section white wrapper">
                <div class="row">
                    <div class="col offset-m1 m5">
                        <img class="responsive-img" src="images/theinitiative.png" />
                    </div>
                </div>
                <div class="row">
                    <div class="col offset-m1 m4">
                        <img class="responsive-img" src="images/image01.png" />
                    </div>
                    <div class="col m5 black-text">
                        The Malaysia Education Technology 4.0 aims in providing platforms to industry players, academician, students and other stakeholders to meet, discuss and learn about the development and impact of digital and technology on its impact on industry and education gaps.The base intention is to lessen the knowledge gap between academia and industry which focus on technology demand by the industrial revolution 4.0It will be 2-days event with keynote talk on technology and entrepreneur, tech-workshop and lab session and career clinic program along the day.
                    </div>
                </div>
        </div>

        <!-- THE SCHEDULE -->
        <div class="section wrapper">
            <div class="row">
                <div class="col offset-m1 m5">
                    <img class="responsive-img" src="images/theschedule.png" />
                </div>
            </div>
            <div class="row">
                <div class="col m6">
                    
                </div>
                <div class="col m6">

                </div>
            </div>
        </div>

        <!-- REGISTER -->
        <div class="section white center-align">
            <div class="row">
                <div class="col s8 m6 offset-m3">
                  <img class="responsive-img" src="images/register.png" />
                </div>
            </div>
            <div class="row wrapper">
                <div class="col s4 m4 offset-m4">
                    <a href="/register"><img class="responsive-img" src="images/register-button.png" /></a>
                  </div>
            </div>
        </div>

        <!-- KEYNOTES -->
        <div class="section wrapper center-align">
            <div class="row">
                <div class="col offset-m4 m4">
                    <img class="responsive-img" src="images/keynotes.png" />
                </div>
            </div>
            <div class="row">
                <div class="col m3 offset-m2">
                    <img class="responsive-img" src="images/image02.png" />
                    <h6 class="white black-text">Bridging the Gap Between Academia and Industry </h6>
                    <b>YBhg. Prof. Madya Dr. Sopian</b>
                    <h6>Pengarah - Bahagian Pembangunan Mahasiswa, Jabatan pendidikan Tinggi, KPT</h6>
                </div>
                <div class="col m3 offset-m2">
                    <img class="responsive-img" src="images/image03.png" />
                    <h6 class="white black-text">Introducing Emerging Technology Trends: The Future is Now</h6>
                    <b>YBhg. Dr. Rezal Khairi Ahmad</b>
                    <h6>Ketua Pegawai Eksekutif - NanoMalaysia Berhad</h6>
                </div>
            </div>
            <div class="row">
                <div class="col m3 offset-m2">
                    <img class="responsive-img" src="images/image04.png" />
                    <h6 class="white black-text">Managing Millennial: Reshaping the Workplace</h6>
                    <b>YBhg. Datuk Mustopha Ahmed</b>
                    <h6>Timbalan Pengarah - Bahagian Perancangan dan Perlaksanaan Khas, Pejabat Perdana Menteri</h6>
                </div>
            </div>
        </div>

        <div class="section wrapper center-align">
        </div>

        <!-- MODERATOR -->
        <div class="section wrapper center-align white">
            <div class="row">
                <div class="col offset-m4 m4">
                    <img class="responsive-img" src="images/forum.png" />
                </div>
            </div>
            <div class="row">
                <div class="col m3 offset-m2">
                    <img class="responsive-img" src="images/res.png" />
                    <h6 class="black title-bar">Moderator</h6>
                    <b class="black-text">Mohd Reezan</b>
                    <h6 class="black-text">General Manager,Serial Entrepreneur - Remote Year</h6>
                </div>
                <div class="col m3 offset-m2">
                    <img class="responsive-img" src="images/zairi.png" />
                    <h6 class="black title-bar">Speaker</h6>
                    <b class="black-text">Mohd Izzairi Yamin</b>
                    <h6 class="black-text">Founder/ Chief Exceutive Officer - ZeptoExpress Berhad</h6>
                </div>
            </div>
        </div>
        
        <!-- COLLABORATOR -->
        <div class="section center-align">
            <div class="row">
                <div class="col m12">
                    <img class="responsive-img" src="images/footer.png" />
                </div>
            </div>
        </div>

    </main>

    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.9.0/js/lightbox.min.js"/></script>
    <script>
    </script>
</body>
</html>
