<!DOCTYPE html>
<html lang="en">
<head>
  <title>Krenovator | Registration</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <!-- <link rel="icon" type="image/x-icon" href="css/e_nDl_icon.ico"> -->
  <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.9.0/css/lightbox.min.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
  <link rel="icon" href="images/favicon.ico" type="image/x-icon">
</head>
<body>

    <% include partial/nav %>

    <main>

        <div class="section">
            <div class="row">
                <div class="col m8 offset-m1">
                    <img class="responsive-img" src="images/website1upload-09.png" />
                </div>
            </div>
            <div class="row half-wrapper">
                <div class="col m4 offset-m1">
                    <img class="responsive-img" src="images/myedtech.png" />
                </div>
                <div class="col m6 offset-m1">
                        <img class="responsive-img" src="images/detail.png" />
                </div>
            </div>
        </div>

        <div class="section white wrapper">
                <div class="row">
                    <div class="col offset-m1 m5">
                        <img class="responsive-img" src="images/theinitiative.png" />
                    </div>
                </div>
                <div class="row">
                    <div class="col offset-m1 m4">
                        <img class="responsive-img" src="images/image01.png" />
                    </div>
                    <div class="col m5 black-text">
                        The Malaysia Education Technology 4.0 aims in providing platforms to industry players, academician, students and other stakeholders to meet, discuss and learn about the development and impact of digital and technology on its impact on industry and education gaps.The base intention is to lessen the knowledge gap between academia and industry which focus on technology demand by the industrial revolution 4.0It will be 2-days event with keynote talk on technology and entrepreneur, tech-workshop and lab session and career clinic program along the day.
                    </div>
                </div>
        </div>
    </main>

    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.9.0/js/lightbox.min.js"/></script>
    <script>
    </script>
</body>
</html>
