<!DOCTYPE html>
<html lang="en">
<head>
  <title>DevCon Happening</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <!-- <link rel="icon" type="image/x-icon" href="css/e_nDl_icon.ico"> -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
  <link rel="icon" href="images/favicon.ico" type="image/x-icon">
</head>
<body>

    <% include partial/nav %>

    <main>

      <div class="container">

        <div class="section wrapper center-align">
          <h2>Thank you for registering</h2>
          <br />
          <br />
          <h4>See you on</h4>
          <div class="info">Saturday, November 11, 2017 | <span class="space">9:00 AM – 6:30 PM</span></div>
          <h4> at </h4>
          <div><b>MaGIC, Cyberjaya</b><br /> Block 3730 Persiaran APEC <br />63000 Cyberjaya <br />Malaysia</div>
          <div>
            <a class="text-hyperlink" href="https://www.google.com/maps/place/2%C2%B054'32.6%22N+101%C2%B039'16.8%22E/@2.909048,101.6534473,17z/data=!3m1!4b1!4m6!3m5!1s0x0:0x0!7e2!8m2!3d2.9090483!4d101.6546721" target="_blank">(2.909048, 101.654672)</a>
          </div>
        </div>

      </div>

    </main>

    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <script>

    </script>
</body>
</html>
