<h2>You've check-in</h2>
<br />
<br />
<div class="row left-align">
  <div class="col m4 offset-m2">
    <h4>Today Schedule</h4>
    <div class="info">10:00 - 10:30 <span class="space">Registration</span> </div>
    <div class="info">10:30 - 12:30 <span class="space">Workshop</span> </div>
    <div class="info">12:30 - 14:00 <span class="space">Lunch Break</span> </div>
    <div class="info">14:00 - 16:30 <span class="space">Workshop cont..</span> </div>
  </div>
  <div class="col m4">
    <h4>Have you prepare</h4>
    <% include preparation %>
  </div>
</div>

<h2 class="wrapper">Please come-in</h2>
