<h2>You've check-in</h2>
<h4 class="red-text"><%= attendee.name %></h4>
<br />
<br />
<div class="row left-align">
  <div class="col m12 offset-m4">
    <h4>Today Schedule</h4>
    <div class="info">09:00 - 10:00 <span class="space">Registration</span> </div>
    <div class="info">10:00 - 10:30 <span class="space">Welcoming Note @ Auditorium</span> </div>
    <div class="info">10:30 - 12:30 <span class="space">Workshop</span> </div>
    <div class="info">12:30 - 14:00 <span class="space">Lunch Break</span> </div>
    <div class="info">14:00 - 16:30 <span class="space">Workshop cont..</span> </div>
  </div>
</div>

<div class="wrapper center-align">
  <h2 class="wrapper">You can wait at</h2>
  <h4>the</h4>
  <h2>Auditorium</h2>
</div>
