<head>
  <nav class="black">
    <div class="nav-wrapper container">
      <a href="#" class="brand-logo">DevCon</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="/checkin">Check In</a></li>
        <li><a href="/walkin">Walk In</a></li>
      </ul>
    </div>
  </nav>
</head>
