<ul class="notes-medium">
  <li>Download <a href="https://developer.android.com/studio/index.html">Android Studio</a></li>
  <li>Install Android Studio using this <a href="https://developer.android.com/studio/install.html">guide</a></li>
  <li>Download and install <a href="https://www.getpostman.com/">Postman</a></li>
  <li>Install <a href="http://adbdriver.com/">ADB</a></li>
  <li>Optional: For laptop that have less than 8gb RAM, please bring along Android phone or tablet must have at least Marshmallow or above</li>
</ul>
