<ul class="notes-medium">
  <li>09:00AM - 10:00AM : Registration</li>
  <li>10:00AM - 10:30AM : Opening Keynote - Briefing <br />Installation VM / Setup Environment</li>
  <li>10:30AM - 12:00AM : Workshops Start</li>
  <li>12:00AM - 02:00PM : Lunch Break *</li>
  <li>02:00PM - 06:00PM : Workshop Continue /></li>
  <li>06:00PM : End</li>
</ul>
