<div class="section">
  <h5 class="center-align">Registration</h5>
  <div class="row">
    <form method='post' class="col s12">
      <div class="row">
        <div class="col m2"></div>
        <div class="input-field col s12 m8">
          <input id="full_name" name="name" type="text" class="validate" required>
          <label for="full_name">Full Name</label>
        </div>
      </div>

      <div class="row">
        <div class="col s2"></div>
        <div class="input-field col s12 m4">
          <input id="email" name="email" type="email" class="validate" required>
          <label for="email">Email</label>
        </div>
        <div class="input-field col s12 m4">
          <input id="phone" type="number" class="validate" required>
          <label for="phone">Mobile Number</label>
        </div>
      </div>

      <div class="row">
        <div class="col s2"></div>
        <div class="input-field col s12 m4">
          <select name="skills">
            <option value="" disabled selected>Choose</option>
            <option value="beginner">Beginner</option>
            <option value="intermediate">Intermediate</option>
            <option value="advanced">Advanced</option>
          </select>

          <label>Programming Knowledge</label>
        </div>
        <div class="col s12 m4">
          <div class="input-field">
            <input id="github" name="github" type="text">
            <label for="github">Github URL</label>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col s2"></div>
        <div class="input-field col s12 m3">
          <select name="gender">
            <option value="" disabled selected>Choose</option>
            <option value="MALE">Male</option>
            <option value="FEMALE">Female</option>
          </select>

          <label>Gender</label>
        </div>
        <div class="input-field col s12 m5">
          <select name="state">
            <option value="" disabled selected>Choose</option>
            <option value="JOHOR">Johor</option>
            <option value="KEDAH">Kedah</option>
            <option value="KELANTAN">Kelantan</option>
            <option value="MELAKA">Melaka</option>
            <option value="NEGERISEMBILAN">Negeri Sembilan</option>
            <option value="PAHANG">Pahang</option>
            <option value="PERAK">Perak</option>
            <option value="PERLIS">Perlis</option>
            <option value="PULAUPINANG">Pulau Pinang</option>
            <option value="SABAH">Sabah</option>
            <option value="SARAWAK">Sarawak</option>
            <option value="SELANGOR">Selangor</option>
            <option value="TERENGGANU">Terengganu</option>
            <option value="KUALALUMPUR">Kuala Lumpur</option>
            <option value="LABUAN">Labuan</option>
            <option value="PUTRAJAYA">Putrajaya</option>
            <option value="OTHER">Other</option>
          </select>

          <label>State Travel From:</label>
        </div>
      </div>

      <div class="row">
        <div class="col m2"></div>
        <div class="input-field col s12 m8">
          <select name="track" required>
            <option value="" disabled selected>Choose Your Track (required)</option>
            <option value="android">Android Development</option>
            <option value="react">React Native</option>
            <option value="web">Web Development - FrontEnd &amp; BackEnd</option>
            <option value="machine">Machine Learning For Newbies</option>
            <option value="data">Data Science</option>
            <option value="blockchain">BlockChain using NEM Blockchain</option>
            <option value="ar">Augmented Reality</option>
            <option value="game">Game Development using Unity</option>
            <option value="architecture">Software Architecture for Startup</option>
          </select>
        </div>
      </div>
      <div class="row half-wrapper">
        <div class="col s4 m5"></div>
        <div class="col s4 m4">
          <button class="btn-large waves-effect waves-light" type="submit" name="action">Submit
            <i class="material-icons right">send</i>
          </button>
        </div>
      </div>

    </form>
  </div>

</div>
