<div class="section wrapper center-align">
  <h2>We are full!</h2>
  <div class="info"> We can only supported maximum 50 people at this location</div>
  <br />
  <h5>Checkout our <a href="https://www.facebook.com/devconcommunity">Facebook</a> for more future classes</h5>
  <br />
</div>
